<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="/" routerDirection="back">
      <ion-avatar  class="logo">
        <img src="assets/svg/logo_icon.svg">
      </ion-avatar>
    </ion-buttons>

    <ion-title>{{ 'PAGES.EXCHANGES.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="marketService">
    <ion-list *ngIf="!marketService.exchanges">
      <ion-item-group>
        <ion-card >
          <ion-card-header>
            <ion-card-title color="primary">
              {{ 'PAGES.EXCHANGES.NO-EXCHANGES' | translate }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text>
              {{ 'PAGES.EXCHANGES.NO-EXCHANGES-MESSAGE' | translate }}
            </ion-text >
          </ion-card-content>
        </ion-card>
      </ion-item-group>
    </ion-list>
    <ion-item *ngFor="let exchange of marketService.exchanges">
      <!--ion-grid>
        <ion-row><ion-col col-4>Name</ion-col><ion-col col-6><b>{{exchange.name}}</b></ion-col></ion-row>
        <ion-row><ion-col col-4>Buy</ion-col><ion-col col-6><b>{{exchange.buy | number : '1.1-8'}}</b></ion-col></ion-row>
        <ion-row><ion-col col-4>Sell</ion-col><ion-col col-6><b>{{exchange.sell | number : '1.1-8'}}</b></ion-col></ion-row>
        <ion-row><ion-col col-4>Last</ion-col><ion-col col-6><b>{{exchange.last | number : '1.1-8'}}</b></ion-col></ion-row>
        <ion-row><ion-col col-4>Volume</ion-col><ion-col col-6><b>{{exchange.volume24H | number : '1.0'}}</b></ion-col></ion-row>
      </ion-grid-->
    <ion-grid>
        <ion-row>
          <ion-col col-12 class="vcenter">


              <img width="100" [src]="exchange.imageBase64">

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <button class="mybtn-red" (click)="visitExchange(exchange.tradeURL)">
              {{ 'PAGES.EXCHANGES.VISIT' | translate }} {{exchange.name}}
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            {{ 'PAGES.EXCHANGES.BUY' | translate }}<br><b>{{exchange.buy | number : '1.1-8'}}</b>
          </ion-col>
          <ion-col col-6>{{ 'PAGES.EXCHANGES.SELL' | translate }}<br><b>{{exchange.sell | number : '1.1-8'}}</b>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            {{ 'PAGES.EXCHANGES.LAST' | translate }}<br><b>{{exchange.last | number : '1.1-8'}}</b>
          </ion-col>
          <ion-col col-6>
            {{ 'PAGES.EXCHANGES.VOLUME' | translate }}<br><b>{{exchange.volume24H | number : '1.0'}}</b>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
