<ion-slides pager="true" [options]="slideOpts" #walletSetup  >
  <ion-slide>
    <wallet-step1 [slider]="walletSetup">
    </wallet-step1>
  </ion-slide>
  <ion-slide>
    <wallet-step2 [slider]="walletSetup">
    </wallet-step2>
  </ion-slide>

  <ion-slide>
    <wallet-step3 [slider]="walletSetup">
    </wallet-step3>
  </ion-slide>

  <ion-slide>
    <wallet-step4 [slider]="walletSetup">
    </wallet-step4>
  </ion-slide>

  <ion-slide>
    <wallet-step5 [slider]="walletSetup">
    </wallet-step5>
  </ion-slide>

  <ion-slide>
    <wallet-step6 [slider]="walletSetup">
    </wallet-step6>
  </ion-slide>

  <ion-slide>
    <wallet-step7 [slider]="walletSetup">
    </wallet-step7>
  </ion-slide>


</ion-slides>
