<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <wallet-step1>
    </wallet-step1>
  </ion-slide>
  <ion-slide>
    <wallet-step2>
    </wallet-step2>
  </ion-slide>

  <ion-slide>
    <wallet-step3>
    </wallet-step3>
  </ion-slide>

  <ion-slide>
    <wallet-step4>
    </wallet-step4>
  </ion-slide>

  <ion-slide>
    <wallet-step5>
    </wallet-step5>
  </ion-slide>

  <ion-slide>
    <wallet-step6>
    </wallet-step6>
  </ion-slide>

  <ion-slide>
    <wallet-step7>
    </wallet-step7>
  </ion-slide>


</ion-slides>
