<ion-content fullscreen>
  <ion-slides  fullscreen pager="true" [options]="slideOpts" #walletSetup (ionSlideTransitionEnd)="slideChanged()" class="ion-align-items-center">
    <ion-slide >
      <wallet-step1 [slider]="walletSetup" class="ion-margin" >
      </wallet-step1>
    </ion-slide>
    <ion-slide>
      <wallet-step2 [slider]="walletSetup" class="ion-margin">
      </wallet-step2>
    </ion-slide>

    <ion-slide>
      <wallet-step3 [slider]="walletSetup" class="ion-margin">
      </wallet-step3>
    </ion-slide>

    <ion-slide>
      <wallet-step4 [slider]="walletSetup" class="ion-margin">
      </wallet-step4>
    </ion-slide>

    <ion-slide>
      <wallet-step5 [slider]="walletSetup" class="ion-margin" >
      </wallet-step5>
    </ion-slide>

    <ion-slide>
      <wallet-step6 [slider]="walletSetup" class="ion-margin">
      </wallet-step6>
    </ion-slide>

    <ion-slide>
      <wallet-step7 [slider]="walletSetup" class="ion-margin">
      </wallet-step7>
    </ion-slide>
  </ion-slides>
</ion-content>
