ion-slides div{
  -webkit-box-align: center !important;
  align-items: center !important;
}

ion-slides{
  background: url(/assets/bg/brm_bg_600x1024_v5.jpg) center bottom ;
  background-size: cover;
  min-height: 100%;
  display: flex;

}
ion-card.setup {
    min-height: 80vh;
}
