<ion-header>
  <ion-toolbar color="primary">

      <ion-buttons slot="start">
        <!-- ion-icon color="success" slot="icon-only" size="large" src="/assets/svg/casino-coin.svg"></ion-icon-->
        <i class="icon-logo icon-chip"></i>
        <!-- img class="logo-icon" src="assets/icon/csc_icon_red.png" /-->
      </ion-buttons>
    <ion-title>{{ 'PAGES.WALLET.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--ion-list #scheduleList [hidden]="shownSessions === 0"-->
  <ion-list #algo lines="full" *ngIf="isLoading">
    <ion-item *ngFor="let x of numberOfTokenAccounts">
      <ion-avatar slot="start">
        <ion-skeleton-text animated width="40px"></ion-skeleton-text>
      </ion-avatar>
      <ion-label >
        <h3>
          <ion-skeleton-text animated width="100px"></ion-skeleton-text>
        </h3>
        <p>
          <ion-note>
            <ion-skeleton-text animated width="300px"></ion-skeleton-text>

          </ion-note>
        </p>
      </ion-label>
      <ion-badge  color="medium" slot="end"><ion-skeleton-text animated width="10px"></ion-skeleton-text></ion-badge>
      </ion-item>

  </ion-list>
  <ion-list #algo lines="full" *ngIf="!isLoading">

    <!-- ion-item-group *ngFor="let group of groups" [hidden]="group.hide" -->
    <ion-item-group >
      <!--ion-item-divider sticky>
        <ion-label>
          Algo
        </ion-label>
      </ion-item-divider-->

      <ion-item-sliding *ngFor="let token of tokenlist">
        <ion-item routerDirection="forward" [routerLink]="'/tabs/wallet/'+token.PK">
          <ion-avatar slot="start">
            <img [src]="token.IconURL" >
          </ion-avatar>
          <ion-label >
            <h3  *ngIf="token.Token !== 'CSC'">{{ token.TokenBalance | cscAmount : false : true}} ({{token.Token}})</h3>
            <h3  *ngIf="token.Token === 'CSC'">{{ token.Balance | cscAmount : false : true}} ({{token.Token}})</h3>
            <p>
              <ion-note>
                {{token.AccountLabel}}
                <small>
                  ({{token.AccountID}})
                </small>
              </ion-note>
            </p>
          </ion-label>
          <ion-badge *ngIf="token.Activated" color="success" slot="end"><ion-icon src="/assets/svg/CSC_BRM_check.svg"></ion-icon></ion-badge>
          <ion-badge *ngIf="!token.Activated" color="danger" slot="end"><ion-icon src="/assets/svg/CSC_BRM_close.svg"></ion-icon></ion-badge>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="success" [routerLink]="'token-send/'+token?.PK " >
            {{ 'PAGES.WALLET.SEND' | translate }} <i class="icon icon-send"></i>
          </ion-item-option>
          <ion-item-option color="secondary" [routerLink]="'token-receive/'+token?.PK ">
            {{ 'PAGES.WALLET.RECEIVE' | translate }} <i class="icon icon-receive"  ></i>

          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-item-group>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button >
      <!--i class="icon ion-ios-icon-transactions"></i-->
      <i  class="white-text icon-big icon-chip" ></i>
      <!--ion-icon src="/assets/svg/casino-coin.svg"></ion-icon-->
    </ion-fab-button>
    <ion-fab-list side="top">
      <!--ion-fab-button color="primary" >
        <i  class="primary-text icon icon-banknote"></i>
      </ion-fab-button-->
      <ion-fab-button color="primary" (click) = "presentActionSheet()">
        <i  class="primary-text icon ion-md-icon-plus" ></i>
      </ion-fab-button>
      <ion-fab-button color="primary" [routerLink]="'token-send'" >
        <i  class="primary-text icon icon-send"></i>
      </ion-fab-button>
      <ion-fab-button color="primary" [routerLink]="'token-receive'" >
        <i class="icon icon-receive" ></i>
      </ion-fab-button>
      <!--ion-fab-button color="primary" >
        <i class="icon icon-chip"></i>
      </ion-fab-button-->

    </ion-fab-list>
  </ion-fab>
</ion-content>
