ion-content{
  --background : none;
  background: url(/assets/bg/bg_720x1480.jpg) center bottom;
  background-size: cover;

}
ion-row.pinrow{
    background:var(--ion-color-light-shade);
}
ion-footer.custompin{
  position:absolute;
  bottom:0;
}
ion-footer.custompin ion-button{
  height: 45px;
}
ion-footer.trans{
  position:absolute;
  bottom:10vh;
}
h1{
  font-weight: bold;
  font-size: 30px;
}
