<ion-content fullscreen>
  <!--form #recoverform="ngForm"  (ngSubmit)="onSubmit(recoverform)" novalidate-->
  <form   #recoverform="ngForm" (ngSubmit)="onSubmit(recoverform)" [mustMatch]="['pincode','pincodeconfirm']" novalidate>
    <ion-slides  fullscreen pager="true" [options]="slideOpts" #recoverFromWords (ionSlideTransitionEnd)="slideChanged()" class="ion-align-items-center">
      <ion-slide>
        <ion-card class="setup">
          <ion-card-header>
            <ion-card-title>
              <ion-label color="primary" class="ion-text-wrap">
                {{ 'PAGES.RECOVER.TITLE' | translate }}
              </ion-label>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-label class="ion-text-wrap">
                {{ 'PAGES.RECOVER.INTRO' | translate }}
              </ion-label>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="6" class="ion-no-margin ion-no-padding">
                  <ion-list lines="none" class="ion-no-margin ion-no-padding" >
                    <ion-item lines="inset" *ngFor="let odd of [1,3,5,7,9,11]; let i=index">
                      <ion-label >
                        <ion-badge [tabIndex]="-1"color="light" slot="start">{{(i+1)*2-1}}</ion-badge>
                      </ion-label>
                      <ion-input  [tabIndex]="odd" #wordCtl="ngModel" (ionChange)="filterWord($event)" type="text" mnemonicExist [name]= "'word'+odd" ngModel [(ngModel)]= "words['word'+odd]"></ion-input>
                    </ion-item>
                  </ion-list>
                </ion-col>
                <ion-col size="6" class="ion-no-margin ion-no-padding" >
                  <ion-list lines="none" class="ion-no-margin ion-no-padding">
                    <ion-item  lines="inset" *ngFor="let even of [2,4,6,8,10,12]; let i=index" >
                      <ion-label>
                        <ion-badge [tabIndex]="-1" color="light" slot="start">{{(i+1)*2}}</ion-badge>
                      </ion-label>
                      <ion-input  [tabIndex]="even" #wordCtl="ngModel" (ionChange)="filterWord($event)" mnemonicExist [name]= "'word'+even" type="text" ngModel [(ngModel)]= "words['word'+even]"></ion-input>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item >
                    <ion-label position="stacked">{{ 'PAGES.RECOVER.EMAIL' | translate }}</ion-label>
                    <ion-input ngModel #email="ngModel" (ionChange)="filterWord($event)" [tabIndex]="'13'" required type="email" name="email" [(ngModel)]= "recoveryEmail" email ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col offset="1" size="4" >
                  <ion-button [tabIndex]="'17'" class="csc-button" (click)="cancel()" color="primary" fill="outline"> {{ 'PAGES.RECOVER.CANCEL-BTN' | translate }}</ion-button>
                </ion-col>
                <ion-col size="7">
                  <ion-button [tabIndex]="'18'" class="csc-button" (click)="next(recoverform.form)"> {{ 'PAGES.RECOVER.NEXT-BTN' | translate }}</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="setup">
          <ion-card-header>
            <ion-card-title>
              <ion-label color="primary" class="ion-text-wrap">
                {{ 'PAGES.RECOVER.TITLE' | translate }}
              </ion-label>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-label class="ion-text-wrap">
                {{ 'PAGES.RECOVER.INTRO' | translate }}
              </ion-label>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-list>
                    <ion-item >
                      <ion-label position="stacked">{{ 'PAGES.RECOVER.PIN' | translate }}</ion-label>
                      <ion-input ngModel required clearInput style="-webkit-text-security:disc" pattern="[0-9]*" #pin="ngModel" name="pincode" type="text" inputmode="numeric" minlength="6" maxlength="6" [(ngModel)]= "walletPassword" ></ion-input>
                    </ion-item>
                    <ion-item >
                      <ion-label position="stacked">{{ 'PAGES.RECOVER.PIN-CONFIRM' | translate }}</ion-label>
                      <ion-input ngModel required clearInput style="-webkit-text-security:disc" pattern="[0-9]*" #pinconfirm="ngModel" name="pincodeconfirm" type="text" inputmode="numeric" minlength="6" maxlength="6" [(ngModel)]= "confirmWalletPassword" ></ion-input>
                    </ion-item>
                  </ion-list>
                </ion-col >
                <ion-col size="6">
                  <ion-list>
                    <ion-radio-group [tabIndex]="'16'" ngModel [(ngModel)]= "networkChoice" name="network">
                      <ion-list-header>
                        <ion-label>{{ 'PAGES.RECOVER.NETWORK.CHOICE' | translate }}</ion-label>
                      </ion-list-header>

                      <ion-item>
                        <ion-label>{{ 'PAGES.RECOVER.NETWORK.LIVE' | translate }}</ion-label>
                        <ion-radio  slot="start" value="LIVE" checked></ion-radio>
                      </ion-item>

                      <ion-item>
                        <ion-label>{{ 'PAGES.RECOVER.NETWORK.TEST' | translate }}</ion-label>
                        <ion-radio slot="start" value="TEST"></ion-radio>
                      </ion-item>
                    </ion-radio-group>
                  </ion-list>
                </ion-col>

              </ion-row>
              <ion-row>

              </ion-row>

              <ion-row>
                <ion-col offset="2" size="8" >
                  <ion-button [tabIndex]="'17'" (click)="back()" color="medium"> {{ 'PAGES.RECOVER.BACK-BTN' | translate }}</ion-button>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col  offset="2" size="8">
                  <ion-button [tabIndex]="'18'" type="submit"> {{ 'PAGES.RECOVER.RECOVER-BTN' | translate }}</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                    <ion-item *ngIf="email.invalid && email.touched"  color="warning" ><small>email is not a valid email</small></ion-item>
                    <ion-item *ngIf="pin.invalid && pin.touched"  color="warning" ><small>PIN should be 6 digits</small></ion-item>
                    <ion-item *ngIf="pinconfirm.value != pin.value && pinconfirm.touched"  color="warning" ><small>both PIN should be equal</small></ion-item>

                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
