ion-slides{
  background: url(/assets/bg/bg_chips_w_98_b.jpg) center bottom;
  background-size: cover;
  min-height: 100%;
  display: flex;

}
ion-card{
  margin: 20px;
  --background: var(--ion-color-light);
  border-radius: 10px;
}
ion-card{
    --background: var(--ion-color-light-tint);
    border-radius: 10px;
}
ion-item{
  --background: var(--ion-color-light-tint);
}
