ion-slides{
  background: var(--csc-background-setup);
  background-size: cover;
  min-height: 100vh;
  display: flex;

}
ion-card{
  margin: 20px;
  --background: var(--ion-color-light-tint);
  border-radius: 10px;
}


ion-item{
  --background: var(--ion-color-light-tint);
}
