<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'PAGES.WALLET.ADD-TOKEN' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form #addtoken="ngForm" (ngSubmit)="onAddToken(addtoken)" novalidate>
      <ion-list>
          <ion-item>
            <ion-label position="floating">{{ 'PAGES.WALLET.ADD-TOKEN-ACCOUNT' | translate }}:</ion-label>
            <ion-select  ngModel #account="ngModel" name="account" [(ngModel)]="selectedCSCAccountID" interface="popover" (ionChange) = "getCSCAccountInfo()" >
              <ion-select-option *ngFor="let account of cscAccounts" value="{{account.value}}">{{account.label}}</ion-select-option>

            </ion-select>
          </ion-item >
          <ion-item >
            <ion-label position="floating" >{{ 'PAGES.WALLET.TOKEN' | translate }}</ion-label>

            <ion-select  ngModel #token="ngModel" name="token" interface="popover" [(ngModel)]="selectedToken" *ngIf="addTokenAccountSelected">
              <ion-select-option *ngFor="let token of availableTokenlist" [value]="token">
                {{token.FullName}} - ( {{token.Token}} )
              </ion-select-option>

            </ion-select>
          </ion-item>
          <ion-grid *ngIf="selectedToken">
            <ion-row>
              <ion-col size="6" offset="3">
                <ion-img [src]="selectedToken.IconURL">
                </ion-img>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-list>
      <ion-footer>
        <ion-toolbar>
          <ion-grid>
            <ion-row>
              <ion-col size="8" offset="2">
                <ion-button class="csc-button" expand="block" color="primary" type="submit">
                  {{ 'PAGES.WALLET.ADD-TOKEN' | translate }}
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col   size="8" offset="2">
                <ion-button class="csc-button" expand="block" color="primary" fill="outline" (click) = "onCancelAddToken()">
                  {{ 'PAGES.WALLET.CANCEL' | translate }}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-footer>
  </form>
</ion-content>
