<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start" routerLink="/" routerDirection="back">
      <ion-avatar  class="logo">
        <img src="assets/svg/logo_icon.svg">
      </ion-avatar>
    </ion-buttons>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>

    <ion-title> {{ 'PAGES.SETTINGS.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">
      {{ 'PAGES.SETTINGS.NAME' | translate }}
      </ion-label>
      <ion-input type="text" name="contactname" [(ngModel)]="walletSettings.walletUser" >

      </ion-input>
    </ion-item>
    <ion-item-divider>
      <ion-note>
        {{ 'PAGES.SETTINGS.NAME-ENTER' | translate }}
      </ion-note>
    </ion-item-divider>
    <ion-item>
      <ion-label>{{ 'PAGES.SETTINGS.CURRENCY' | translate }}</ion-label>
      <ion-select value="USD" okText="Okay" cancelText="Dismiss" [(ngModel)]="walletSettings.fiatCurrency">
        <ion-select-option value="USD">{{ 'PAGES.SETTINGS.CURRENCIES.USD' | translate }}</ion-select-option>
        <ion-select-option value="EUR">{{ 'PAGES.SETTINGS.CURRENCIES.EUR' | translate }}</ion-select-option>
        <ion-select-option value="GBP">{{ 'PAGES.SETTINGS.CURRENCIES.GBP' | translate }}</ion-select-option>
        <ion-select-option value="JPY">{{ 'PAGES.SETTINGS.CURRENCIES.JPY' | translate }}</ion-select-option>
        <ion-select-option value="CAD">{{ 'PAGES.SETTINGS.CURRENCIES.CAD' | translate }}</ion-select-option>
        <ion-select-option value="AUD">{{ 'PAGES.SETTINGS.CURRENCIES.AUD' | translate }}</ion-select-option>
        <ion-select-option value="BRL">{{ 'PAGES.SETTINGS.CURRENCIES.BRL' | translate }}</ion-select-option>
        <ion-select-option value="CHF">{{ 'PAGES.SETTINGS.CURRENCIES.CHF' | translate }}</ion-select-option>
        <ion-select-option value="NZD">{{ 'PAGES.SETTINGS.CURRENCIES.NZD' | translate }}</ion-select-option>
        <ion-select-option value="RUB">{{ 'PAGES.SETTINGS.CURRENCIES.RUB' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'PAGES.SETTINGS.LANGUAGE' | translate }}</ion-label>
      <ion-select value="en" okText="Okay" cancelText="Dismiss" [(ngModel)]="walletSettings.walletLanguage" (ionChange)="langChanged()">
        <ion-select-option value="en">{{ 'PAGES.SETTINGS.LANGUAGES.EN' | translate }}</ion-select-option>
        <ion-select-option value="es">{{ 'PAGES.SETTINGS.LANGUAGES.ES' | translate }}</ion-select-option>
        <ion-select-option value="de">{{ 'PAGES.SETTINGS.LANGUAGES.DE' | translate }}</ion-select-option>
        <ion-select-option value="fr">{{ 'PAGES.SETTINGS.LANGUAGES.FR' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'PAGES.SETTINGS.DISPLAY-MODE' | translate }}</ion-label>
      <ion-select value="light" okText="Okay" cancelText="Dismiss" [(ngModel)]="walletSettings.styleTheme" (ionChange)="themeChanged()">
        <ion-select-option value="light">{{ 'PAGES.SETTINGS.THEMES.LIGHT' | translate }}</ion-select-option>
        <ion-select-option value="dark">{{ 'PAGES.SETTINGS.THEMES.DARK' | translate }}</ion-select-option>

      </ion-select>

    </ion-item>
    <ion-item>
      <ion-label>{{ 'PAGES.SETTINGS.FINGERPRINT' | translate }}</ion-label>
    <ion-toggle [(ngModel)]="enableFaio" (click)="touchIdChanged()"></ion-toggle>

    </ion-item>
    <ion-item-divider>
      <ion-note>
        {{ 'PAGES.SETTINGS.DISPLAY-MODE-ENTER' | translate }}
      </ion-note>
    </ion-item-divider>


  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-button class="csc-button" expand="block" color="primary" fill="outline"  type="submit" expand="block" routerLink="/show-seed" >
          {{ 'PAGES.SETTINGS.SHOW-SEED' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-button class="csc-button" type="submit" expand="block" (click)="saveSettings() " >
          {{ 'PAGES.SETTINGS.SAVE-SETTINGS' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-button class="csc-button" expand="block" color="primary" fill="outline"  type="reset" expand="block" (click)="discardSettings()">
          {{ 'PAGES.SETTINGS.DISCARD-SETTINGS' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
