<ion-card class="setup">
  <ion-card-header>
    <ion-card-title>
      <ion-label color="primary" class="ion-text-wrap">
            {{ 'PAGES.SETUP.STEP3-EMAIL-PASSWORD' | translate }}
      </ion-label>
    </ion-card-title>
    <ion-card-subtitle>
      <ion-label class="ion-text-wrap">
            <small>
              {{'PAGES.SETUP.STEP3-INTRO-TEXT' | translate }}
            </small>
      </ion-label>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col color="danger" size="12" >
          <ion-note color="danger" class="ion-text-wrap">
                <small>
                  {{'PAGES.SETUP.STEP3-REQUIREMENT' | translate }}
                </small>
          </ion-note>
        </ion-col>
      </ion-row>

      <form #userform="ngForm" (ngSubmit)="onSubmit(userform)" [mustMatch]="['pincode', 'pincodeconfirm']" novalidate>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <!--ion-item >
              <ion-label position="floating">{{'PAGES.SETUP.STEP3-NAME' | translate }}</ion-label>
              <ion-input autoFocus ngModel #nctl="ngModel" clearInput required name="name" type="text" inputmode="text" ></ion-input>
            </ion-item-->
            <ion-item >
              <ion-label position="floating">{{'PAGES.SETUP.STEP3-EMAIL' | translate }}</ion-label>
              <ion-input ngModel #ectl="ngModel" clearInput required name="email" type="email" inputmode="email" email></ion-input>
            </ion-item>
            <ion-item *ngIf="ectl.invalid && ectl.touched"  color="warning" ><small>{{'PAGES.SETUP.STEP3-REQUIRE-EMAIL' | translate }}</small></ion-item>
            <ion-item >
              <ion-label position="floating">{{'PAGES.SETUP.STEP3-PINCODE' | translate }}</ion-label>
              <ion-input ngModel #pctl="ngModel" clearInput required name="pincode" type="password" pattern="[0-9]*" inputmode="tel" minlength="6" maxlength="6" ></ion-input>
            </ion-item>
            <ion-item *ngIf="pctl.invalid && pctl.touched"  color="warning" ><small>{{'PAGES.SETUP.STEP3-REQUIRE-PIN' | translate }}</small></ion-item>
            <ion-item >
              <ion-label position="floating">{{'PAGES.SETUP.STEP3-REPEAT-PIN' | translate }}</ion-label>
              <ion-input ngModel #pmctl="ngModel" clearInput required name="pincodeconfirm" type="password"  pattern="[0-9]*" inputmode="tel" minlength="6" maxlength="6" ></ion-input>
            </ion-item>
            <ion-item *ngIf="pmctl.value != pctl.value && pctl.touched && pmctl.touched"  color="warning" ><small>{{'PAGES.SETUP.STEP3-REQUIRE-PINMATCH' | translate }}</small></ion-item>
          </ion-col>
          <ion-col size-sm="6" offset-sm="3">
            <ion-button type="submit" > {{ 'PAGES.SETUP.BTN-CONTINUE' | translate }}</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </ion-card-content>
</ion-card>
