<ion-tabs>

  <ion-tab-bar slot="bottom" >

    <ion-tab-button tab="dashboard">
      <i class="icon icon-chip"></i>
      <ion-label>{{ 'PAGES.DASHBOARD.TITLE' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wallet">
      <div class="icon-inner">

        <i class="icon ion-ios-icon-transactions "></i>
      </div>
      <ion-label>{{ 'PAGES.WALLET.TITLE' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <i class="icon icon-arrows "></i>
      <ion-label>{{ 'PAGES.HISTORY.TITLE' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacts">
      <i class="icon icon-users"></i>
      <ion-label>{{ 'PAGES.CONTACTS.TITLE' | translate }}</ion-label>
    </ion-tab-button>

    <!--ion-tab-button tab="help">
      <i class="icon icon-question"></i>
      <ion-label>Help</ion-label>
    </ion-tab-button-->

  </ion-tab-bar>

</ion-tabs>
