i.icon{
  line-height: 0em;
  font-size: 2.5em;
}
.tab-selected i.icon{
  line-height: 1em;
  font-size: 2.5em;
}
ion-tab-bar {
  --background: var(--ion-color-light, #36454f);
}
ion-content{
  height: 100%;
  width: 100%;
}

ion-footer {
    position: fixed;
    /*max-height: 35vh;*/
    bottom: 0px;

}
