<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <!-- ion-icon color="success" slot="icon-only" size="large" src="/assets/svg/casino-coin.svg"></ion-icon-->
        <i class="icon-logo icon-chip"></i>
        <!-- img class="logo-icon" src="assets/icon/csc_icon_red.png" /-->
      </ion-buttons>

    <ion-title>{{ 'PAGES.CONTACTS.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content >
<ion-list *ngIf="contactsEmpty">
  <ion-item-group>
    <ion-card >
      <ion-card-header>
        <ion-card-title color="primary">
          {{ 'PAGES.CONTACTS.NO-CONTACTS' | translate }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text>
          {{ 'PAGES.CONTACTS.NO-CONTACTS-MESSAGE' | translate }}
        </ion-text >
      </ion-card-content>
    </ion-card>
  </ion-item-group>
</ion-list>



  <ion-grid fixed *ngIf="!contactsEmpty">

    <ion-row class="ion-align-items-stretch">
      <ion-col size="12" *ngFor="let contact of contacts">
        <ion-card>
          <ion-card-header>
            <ion-item detail="false" lines="none" >
              <ion-chip color="medium">
                <ion-avatar>
                  <ion-icon size="large" color="primary" src="/assets/svg/CSC_BRM_user.svg" ></ion-icon>
                </ion-avatar>
                <ion-label>

                    {{contact.label}}

                </ion-label>
              </ion-chip>
            </ion-item>
            <ion-item>
              <ion-label>
                 {{ contact.accountID}}
              </ion-label>
            </ion-item>
              </ion-card-header>
              <ion-card-content>
              <ion-button  fill="clear" [routerLink]="'/tabs/wallet/token-send/'+mainCSCAccount.pk+'/'+contact.accountID ">

                  <i style="font-size:2em;" class="icon-large icon-send"></i>

              </ion-button>
              <ion-button  fill="clear" (click)="copyAccountID(contact.accountID)">

                  <ion-icon name="clipboard"  class="icon-large"></ion-icon>

              </ion-button>
              <ion-button  fill="clear">


                  <ion-icon name="create" class="icon-large"></ion-icon>

              </ion-button>
              <ion-button  fill="clear" (click)="onDeleteContact(contact.accountID)">
                <ion-icon name="close-circle-outline"  class="icon-large" ></ion-icon>

                  <!--i style="font-size:2em;" class="icon-large icon-arrows"></i-->

              </ion-button>
            </ion-card-content>




        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button >
      <!--i class="icon ion-ios-icon-transactions"></i-->
      <i  class="white-text icon-big icon-chip" ></i>
      <!--ion-icon src="/assets/svg/casino-coin.svg"></ion-icon-->
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" [routerLink]="'add-contact/scan'">
        <!--i class="icon ion-ios-icon-transactions"></i-->
        <ion-icon name="qr-scanner"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" [routerLink]="'add-contact'">
        <!--i class="icon ion-ios-icon-transactions"></i-->
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>

</ion-content>
