<ion-header>
  <ion-toolbar color="primary">
    <ion-nav-pop slot="start">
      <ion-buttons>
        <!-- ion-icon color="success" slot="icon-only" size="large" src="/assets/svg/casino-coin.svg"></ion-icon-->
        <i class="icon-logo icon-chip"></i>
        <!-- img class="logo-icon" src="assets/icon/csc_icon_red.png" /-->
      </ion-buttons>
    </ion-nav-pop>
    <ion-title>Contacts</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-align-items-stretch">
      <ion-col size="12" size-md="6" >
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item detail="false" lines="none" >
              <ion-avatar slot="start" >
                <ion-icon size="large" color="primary" src="/assets/svg/CSC_BRM_user.svg" ></ion-icon>
              </ion-avatar>
              <ion-label>

                <ion-text color="primary">
                  <h5>
                    Simon PJ
                  </h5>
                </ion-text>
                <small>
                  <ion-text>
                    lsdkflsajdfkjasdfjlsadjkfl;askdfl;
                  </ion-text>
                </small>
              </ion-label>
              <ion-button fill="clear">
                <!--ion-icon size="large" color="primary" src="/assets/svg/CSC_BRM_a_right.svg">
                </ion-icon-->
                  <i style="font-size:2em;" class="icon-large icon-send"></i>

              </ion-button>
            </ion-item>
          </ion-card-header>



        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6" >
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item detail="false" lines="none" >
              <ion-avatar slot="start" >
                <ion-icon size="large" color="primary" src="/assets/svg/CSC_BRM_user.svg" ></ion-icon>
              </ion-avatar>
              <ion-label>

                <ion-text color="primary">
                  <h5>
                    Victor M
                  </h5>
                </ion-text>
                <small>
                  <ion-text>
                    lsdkflsajdfkjasdfjlsadjkfl;askdfl;
                  </ion-text>
                </small>
              </ion-label>
              <ion-button fill="clear">
                <!--ion-icon size="large" color="primary" src="/assets/svg/CSC_BRM_a_right.svg">
                </ion-icon-->
                  <i style="font-size:2em;" class="icon-large icon-send"></i>

              </ion-button>
            </ion-item>
          </ion-card-header>



        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-stretch">
      <ion-col size="12" size-md="6" >
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item detail="false" lines="none" >
              <ion-avatar slot="start" >
                <ion-icon size="large" color="primary" src="/assets/svg/CSC_BRM_user.svg" ></ion-icon>
              </ion-avatar>
              <ion-label>

                <ion-text color="primary">
                  <h5>
                    Andre J
                  </h5>
                </ion-text>
                <small>
                  <ion-text>
                    lsdkflsajdfkjasdfjlsadjkfl;askdfl;
                  </ion-text>
                </small>
              </ion-label>
              <ion-button fill="clear">
                <!--ion-icon size="large" color="primary" src="/assets/svg/CSC_BRM_a_right.svg">
                </ion-icon-->
                  <i style="font-size:2em;" class="icon-large icon-send"></i>

              </ion-button>
            </ion-item>
          </ion-card-header>



        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6" >
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item detail="false" lines="none" >
              <ion-avatar slot="start" >
                <ion-icon size="large" color="primary" src="/assets/svg/CSC_BRM_user.svg" ></ion-icon>
              </ion-avatar>
              <ion-label>

                <ion-text color="primary">
                  <h5>
                    Andre PCN
                  </h5>
                </ion-text>
                <small>
                  <ion-text>
                    lsdkflsajdfkjasdfjlsadjkfl;askdfl;
                  </ion-text>
                </small>
              </ion-label>
              <ion-button fill="clear">
                <!--ion-icon size="large" color="primary" src="/assets/svg/CSC_BRM_a_right.svg">
                </ion-icon-->
                  <i style="font-size:2em;" class="icon-large icon-send"></i>

              </ion-button>
            </ion-item>
          </ion-card-header>



        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-stretch">
      <ion-col size="12" size-md="6" >
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item detail="false" lines="none" >
              <ion-avatar slot="start" >
                <ion-icon size="large" color="primary" src="/assets/svg/CSC_BRM_user.svg" ></ion-icon>
              </ion-avatar>
              <ion-label>

                <ion-text color="primary">
                  <h5>
                    Alejandro A
                  </h5>
                </ion-text>
                <small>
                  <ion-text>
                    lsdkflsajdfkjasdfjlsadjkfl;askdfl;
                  </ion-text>
                </small>
              </ion-label>
            </ion-item>
              </ion-card-header>
              <ion-card-content>
              <ion-button  fill="clear">
                <!--ion-icon size="large" color="primary" src="/assets/svg/CSC_BRM_a_right.svg">
                </ion-icon-->
                  <i style="font-size:2em;" class="icon-large icon-send"></i>

              </ion-button>
              <ion-button  fill="clear">
                <!--ion-icon size="large" color="primary" src="/assets/svg/CSC_BRM_a_right.svg">
                </ion-icon-->
                  <i style="font-size:2em;" class="icon-large icon-arrows"></i>

              </ion-button>
            </ion-card-content>




        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6" >
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item detail="false" lines="none" >
              <ion-avatar slot="start" >
                <ion-icon size="large" color="primary" src="/assets/svg/CSC_BRM_user.svg" ></ion-icon>
              </ion-avatar>
              <ion-label>

                <ion-text color="primary">
                  <h5>
                    Alejandro 100
                  </h5>
                </ion-text>
                <small>
                  <ion-text>
                    lsdkflsajdfkjasdfjlsadjkfl;askdfl;
                  </ion-text>
                </small>
              </ion-label>
              <ion-button fill="clear">
                <!--ion-icon size="large" color="primary" src="/assets/svg/CSC_BRM_a_right.svg">
                </ion-icon-->
                  <i style="font-size:2em;" class="icon-large icon-send"></i>

              </ion-button>
            </ion-item>
          </ion-card-header>



        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button>
      <!--i class="icon ion-ios-icon-transactions"></i-->
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

  </ion-fab>
</ion-content>
