<ion-header>
  <ion-toolbar color="primary">

      <ion-buttons slot="start">
        <!-- ion-icon color="success" slot="icon-only" size="large" src="/assets/svg/casino-coin.svg"></ion-icon-->
        <i class="icon-logo icon-chip"></i>
        <!-- img class="logo-icon" src="assets/icon/csc_icon_red.png" /-->
      </ion-buttons>

    <ion-title>About</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3" class="ion-text-center ion-padding">
        <ion-img src="assets/svg/image_casinocoin_about.png">
        </ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--p text-center>CasinoCoin is a digital currency, designed specifically for the regulated online gaming industry. Utilising the latest in blockchain technology, CasinoCoin can facilitate up 1,000 peer-to-peer transfers per second, with near-instant confirmation.</p-->

  <p>The CasinoCoin Token wallet allows you to keep your wallet on you mobile, facilitating transactions with CSC or any token publicly allocated on the blockchain at your thumb.</p>

  <p>Cutting-edge blockchain technology allows you to gamble safely and securely on some of the world’s most popular regulated gaming sites using a native cryptocurrency.</p>

  <p>Deposits and withdrawals are lightning fast and virtually free.</p>

  <p>Welcome to the CasinoCoin Token Wallet - the future of gaming has arrived. </p>

<p>Token Wallet: {{versionNumber}} Version (Testnet)</p>
  <ion-footer>
    <ion-buttons>
      <ion-button color="primary" slot="start"  routerLink="https://casinocoin.org/terms-of-service/">Terms of Service</ion-button>
      <ion-button color="primary" slot="end"  routerLink="https://casinocoin.org/privacy-policy/" >Privacy Policy</ion-button>
    </ion-buttons>
  </ion-footer>

</ion-content>
