<ion-header>
  <ion-toolbar color="primary">

    <ion-avatar slot="start" class="logo">
      <img src="assets/svg/logo_icon.svg">
    </ion-avatar>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>

    <ion-title>{{ 'PAGES.ABOUT.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3" class="ion-text-center ion-padding">
        <ion-img src="assets/svg/image_casinocoin_about.png">
        </ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--p text-center>CasinoCoin is a digital currency, designed specifically for the regulated online gaming industry. Utilising the latest in blockchain technology, CasinoCoin can facilitate up 1,000 peer-to-peer transfers per second, with near-instant confirmation.</p-->

  <span [innerHTML]="'PAGES.ABOUT.ABOUTMESSAGE' | translate"> </span>

<p> {{ 'PAGES.LOGIN.VERSIONMESSAGE' | translate:{ version:versionNumber, network: appflow.network } }}<</p>
  <ion-footer>
    <ion-buttons>
      <ion-button color="primary" slot="start"    (click)="openCSCURL('terms-of-service')" >{{ 'PAGES.ABOUT.TERMSLINK' | translate }}</ion-button>
      <ion-button color="primary" slot="end"  (click)="openCSCURL('privacy-policy')" >{{ 'PAGES.ABOUT.PRIVACYLINK' | translate }}</ion-button>
    </ion-buttons>
  </ion-footer>

</ion-content>
