ion-content{
  --background : none;
  background: url(/assets/bg/bg_720x1480.jpg) center bottom;
  background-size: cover;

}
ion-footer.custompin{
  background:var(--ion-color-light);
  position:absolute;
  bottom:0;
}
ion-footer.trans{
  position:absolute;
  bottom:10vh;
}
