.icon-logo {
    font-size: 2.2em;
    color: var(--ion-color-primary);
    background: var(--ion-color-dark-contrast);
    vertical-align: middle;
    line-height: 1.1em;
    border-radius: 1.2em;
    width: 1.25em;
    height: 1.25em;
    padding: 0px;
    margin: 0.2em;
    border: 1px solid;
    box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 4px;
}
html.md {
    --ion-default-font: var(--ion-font-family);
}
ion-avatar.logo{
  height: 40px;
  width: 40px;
  margin: 5px 10px;
  background: var(--ion-color-light);
  text-align: left;
  padding: 4px;
}
ion-avatar.logo img {
    --border-radius: 0px;
    float: left;
    margin-left: -2px;
    margin-top: -2px;
    height: auto;
}
.alert-wrapper.sc-ion-alert-md {
    border-radius: 9px;
}
ion-button.csc-button{
  text-transform: capitalize;
  --border-radius: 11px;
  height: 52px;
  font-size:15px;
}
.ion-valid.item-interactive {
        --highlight-background: var(--ion-color-dark);
   }
/* testing for changing validation markers and put a check. It's not trivial.
.ion-valid.item-interactive:before {
           content:"a";
           position: relative;
           color:green;
           top:0px;
           left:0px;

      }
*/
