<ion-app >
  <ion-split-pane>
    <ion-menu side="end">
      <!--ion-header>
      </ion-header-->
      <ion-toolbar class="ion-padding-top">
        <div class="ion-text-center">

          <img  style="width:50%;text-align:center;" src="/assets/svg/side-logo.svg">
        </div>


      </ion-toolbar>
      <ion-content>

        <ion-list>
          <ion-list-header>
            Navigate
          </ion-list-header>
          <ion-menu-toggle >
            <ion-item >

              <ion-icon slot="start" ></ion-icon>
              <ion-label>
                Algo
              </ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>

        <ion-list lines="none">
          <ion-list-header>
            <ion-title>Hi, Alejandro</ion-title>
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item >
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                Account
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item >
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Support
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item >
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <!--ion-list >
          <ion-list-header>
            Account
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item >
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                Login
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item >
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Support
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item >
              <ion-icon slot="start" name="person-add"></ion-icon>
              <ion-label>
                Signup
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list-->

        <ion-list lines="none">
          <ion-list-header>
            Tutorial
          </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item button >
              <ion-icon slot="start" name="hammer"></ion-icon>
              <ion-label>Show Tutorial</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list lines="none">
          <ion-item>
            <ion-label>
              Dark Theme
            </ion-label>
            <ion-toggle ></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>

</ion-app>
