<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start" routerLink="/" routerDirection="back">
      <ion-avatar  class="logo">
        <img src="assets/svg/logo_icon.svg">
      </ion-avatar>
    </ion-buttons>

    <ion-title>{{ 'PAGES.HISTORY.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list #algo lines="full">
    <!-- ion-item-group *ngFor="let group of groups" [hidden]="group.hide" -->
    <ion-item-group >
      <!--ion-item-divider sticky>
        <ion-label>
          Algo
        </ion-label>
      </ion-item-divider-->

        <ion-card *ngIf="transactions.length < 1">
          <ion-card-header>
            <ion-card-title color="primary"> No transactions </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text>
              You don't have any transaction yet.
            </ion-text>
          </ion-card-content>

        </ion-card>
        <ion-item *ngFor="let transaction of transactions" detail [routerLink]="'/tabs/history/'+transaction.txID">
          <ion-avatar slot="start">
            <ion-img [src]="getTokenURL(transaction)" >

            </ion-img>
          </ion-avatar>

          <ion-label >
            <h3>{{transaction.amount | cscAmount : false : true}} {{transaction.currency}}
              <ion-badge class="date-badge" color="light">
                <small>
                  <span class="text-large">{{transaction.timestamp | cscDate : 'dd MMM yy HH:mm:ss'}}</span>
                </small>
              </ion-badge>
            </h3>
              <small>
                  {{ 'PAGES.HISTORY.FROM' | translate }}
                {{transaction.accountID}}
              </small>

              <small>
                {{ 'PAGES.HISTORY.TO' | translate }}

                {{transaction.destination}}

              </small>

          </ion-label>
          <ion-text slot="start"  [color]="getTXDirectionColor(transaction)">

            <i style="margin:0.1em;" [class]=" getDirectionIcon(transaction)"></i>
          </ion-text>
        </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>
