<ion-header>
  <ion-toolbar color="primary">

      <ion-buttons slot="start">
        <!-- ion-icon color="success" slot="icon-only" size="large" src="/assets/svg/casino-coin.svg"></ion-icon-->
        <i class="icon-logo icon-chip"></i>
        <!-- img class="logo-icon" src="assets/icon/csc_icon_red.png" /-->
      </ion-buttons>

    <ion-title>History</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list #algo lines="full">
    <!-- ion-item-group *ngFor="let group of groups" [hidden]="group.hide" -->
    <ion-item-group >
      <!--ion-item-divider sticky>
        <ion-label>
          Algo
        </ion-label>
      </ion-item-divider-->


        <ion-item *ngFor="let transaction of transactions" detail [routerLink]="'/tabs/history/'+transaction.txID">
          <ion-avatar slot="start">
            <ion-img [src]="getTokenURL(transaction)" >

            </ion-img>
          </ion-avatar>

          <ion-label >
            <h3>{{transaction.amount | cscAmount : false : true}} {{transaction.currency}}
              <ion-chip size>
                <small>
                  <span class="text-large">{{transaction.timestamp | cscDate : 'dd'}} </span>
                  <span class="text-small-bottom">{{transaction.timestamp | cscDate : 'MMM' }} </span>
                  <span class="text-large">{{transaction.timestamp | cscDate : 'HH'}} </span>
                  <span class="text-small-top" >{{transaction.timestamp | cscDate : ':mm:ss'}}</span>
                </small>
              </ion-chip>
            </h3>
              <small>
                  From:
                {{transaction.accountID}}
              </small>

              <small>
                to:
                {{transaction.destination}}

              </small>

          </ion-label>
          <ion-text   [color]="getTXDirectionColor(transaction)">

            <i style="margin:0.3em;" [class]=" getDirectionIcon(transaction)"></i>
          </ion-text>
        </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>
