<ion-card class="setup">
  <ion-card-header>
    <ion-grid>
      <ion-row class="ion-padding-bottom">
        <ion-col size="8" offset="2" class="ion-text-center">
          <img  src="/assets/svg/casinocoin_logo_side_menu.png" />
        </ion-col>
      </ion-row>
      </ion-grid>
    <ion-card-title>
      <ion-label color="primary" class="ion-text-wrap">
            {{ 'PAGES.SETUP.STEP1-TITLE' | translate }}
      </ion-label>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row class="ion-padding-bottom">
        <ion-col size="8" offset="2" class="ion-text-center">

        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col size="12" >
          <ion-button *ngIf="!initialWalletCreation" class="csc-button" expand="block" color="secondary" (click)="cancel()"> {{ 'PAGES.RECOVER.CANCEL-BTN' | translate }}</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" >
          <ion-button size="large" expand="block" class="csc-button" (click)="this.swipeNext()"> {{ 'PAGES.SETUP.STEP1-BTN-CREATE' | translate }}</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" >
          <ion-button size="large" fill="outline" expand="block" class="csc-button" (click)="this.goToRestore()"> {{ 'PAGES.SETUP.STEP1-BTN-RECREATE-MNEMONIC' | translate }}</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" >
          <ion-item>
            <ion-label>{{ 'PAGES.SETTINGS.LANGUAGE' | translate }}</ion-label>
            <ion-select  okText="{{ 'PAGES.SETTINGS.OK-BTN' | translate }}" cancelText="{{ 'PAGES.SETTINGS.CANCEL-BTN' | translate }}"  [(ngModel)]="walletSettings.walletLanguage" (ionChange)="langChanged()">
              <ion-select-option selected="true" value="en">English</ion-select-option>
              <ion-select-option value="es">Español</ion-select-option>
              <ion-select-option value="de">Deutsch</ion-select-option>
              <ion-select-option value="fr">Français</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

          <!-- ion-button *ngIf="!initialWalletCreation" expand="block" (click)="this.swipeNext()"> Select account</ion-button -->
          <!--ion-button expand="block"> {{ 'PAGES.SETUP.STEP1-BTN-RESTORE' | translate }}</ion-button-->

    </ion-grid>
  </ion-card-content>
</ion-card>
