<ion-card class="setup ion-padding">
  <ion-card-header>
    <ion-card-title>
      <ion-label color="primary" class="ion-text-wrap">
            {{ 'PAGES.SETUP.STEP1-TITLE' | translate }}
      </ion-label>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row class="ion-padding-bottom">
        <ion-col size="8" offset="2" class="ion-text-center">
          <ion-img  src="/assets/svg/casinocoin_logo_red.svg" ></ion-img>
        </ion-col>

      </ion-row>


          <ion-button *ngIf="!initialWalletCreation" expand="block" color="secondary" (click)="cancel()"> {{ 'PAGES.RECOVER.CANCEL-BTN' | translate }}</ion-button>
          <!-- ion-button *ngIf="!initialWalletCreation" expand="block" (click)="this.swipeNext()"> Select account</ion-button -->
          <ion-button expand="block" (click)="this.swipeNext()"> {{ 'PAGES.SETUP.STEP1-BTN-CREATE' | translate }}</ion-button>
          <!--ion-button expand="block"> {{ 'PAGES.SETUP.STEP1-BTN-RESTORE' | translate }}</ion-button-->
          <ion-button expand="block" (click)="this.goToRestore()"> {{ 'PAGES.SETUP.STEP1-BTN-RECREATE-MNEMONIC' | translate }}</ion-button>

    </ion-grid>
  </ion-card-content>
</ion-card>
