<ion-card>
  <ion-card-header>
    <ion-card-title>
      <ion-label color="primary" class="ion-text-wrap">
            {{ 'PAGES.SETUP.STEP6-TITLE' | translate }}
      </ion-label>
    </ion-card-title>
    <ion-card-subtitle>
      <ion-label class="ion-text-wrap">
            {{'PAGES.SETUP.STEP6-SUBTITLE' | translate }}
      </ion-label>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <form #wordsForm = "ngForm" (ngSubmit)="onSubmit(wordsForm)" [mnemonicValid]="['checkword1', 'checkword2', 'checkword3', getMnemonic(word1), getMnemonic(word2), getMnemonic(word3) ]" novalidate>
        <ion-row>
          <ion-col>
            <ion-item >
              <ion-label position="floating">{{'PAGES.SETUP.STEP6-WORD' | translate }} {{word1}} </ion-label>
              <ion-input ngModel #w1ctl = "ngModel" [(ngModel)]="checkWord1" clearInput name="checkword1" required="true" type="text"></ion-input>
            </ion-item>
            <ion-item >
              <ion-label position="floating">{{'PAGES.SETUP.STEP6-WORD' | translate }} {{word2}} </ion-label>
              <ion-input ngModel #w2ctl = "ngModel" [(ngModel)]="checkWord2" clearInput name="checkword2" required="true" type="text" ></ion-input>
            </ion-item>
            <ion-item >
              <ion-label position="floating">{{'PAGES.SETUP.STEP6-WORD' | translate }} {{word3}} </ion-label>
              <ion-input ngModel #w3ctl = "ngModel" [(ngModel)]="checkWord3" clearInput name="checkword3" required="true" type="text" ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="10" offset="1">
            <ion-button color="medium" (click)="restartSetup()" > {{ 'PAGES.SETUP.BTN-RESTART' | translate }}</ion-button>
            <ion-button type="submit" > {{ 'PAGES.SETUP.BTN-CONTINUE' | translate }}</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </ion-card-content>
</ion-card>
