<ion-header>
</ion-header>

<ion-content no-bounce  class="bgimg">

			<div class="intro">
			<div class="intro-logo">
					<img src="assets/imgs/logo.png" />
					<!--img src="assets/imgs/logo.png" /-->
					<!--img src="assets/imgs/svg/logo_icon.svg" /-->
			</div>
			<div class="intro-txt"> CasinoCoin<br>
			 <span>Bankroll Manager</span></div>

			<ion-row>
				<ion-col>
					<!--button ion-button  (click)="gotoSignup()"  class="mybtn-red"> Create Account <!/button -->
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<!-- button ion-button  class="mybtn-secondary" (click)="restoreBRM()">Restore Account<!/button -->
				</ion-col>
			</ion-row>
      </div>



</ion-content>
