<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start" routerLink="/" routerDirection="back">
      <ion-avatar  class="logo">
        <img src="assets/svg/logo_icon.svg">
      </ion-avatar>
    </ion-buttons>
      <ion-buttons slot="start" >
        <ion-back-button text="" defaultHref="/tabs/history"></ion-back-button>
      </ion-buttons>

    <ion-title > {{ 'PAGES.HISTORY.DETAILS' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--
"accountID":"cLNCn4mauPr8t1deB6UiTD8Mr5o5NwBfq4","amount":"2700000000","currency":"CSC","destination":"cGLxnaKn9XUvUDyLhpaKCUgbZCJ76PTo7W","fee":"25000000","flags":0,"lastLedgerSequence":120318,"sequence":5,"signingPubKey":"","timestamp":626540880,"transactionType":"payment","txID":"D969F0E0DDA4B85EE12F4CCE95706D7346158F2277ECEDE8D2847F954674C31C","txnSignature":"","direction":"incommingTX","validated":true,"status":"txVALIDATED","inLedger":120318,"meta":{"revision":0,"created":1573251246948,"version":0},"$loki":3
  -->


<ion-content>
  <ion-grid *ngIf="transactionLoaded">
    <ion-row>
      <ion-col size="5">
        <ion-item>
          <ion-label position="stacked" color="primary">
            {{ 'PAGES.WALLET.ACCOUNTID' | translate }}
          </ion-label>
            <ion-note *ngIf="transactionLoaded.direction === 'incommingTX'">
              {{transactionLoaded.destination}}
            </ion-note>
            <ion-note *ngIf="transactionLoaded.direction !== 'incommingTX'">
              {{transactionLoaded.accountID}}
            </ion-note>

        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-item>
          <ion-label position="stacked" color="primary">
           {{ 'PAGES.WALLET.STATUS' | translate }}
          </ion-label>
            <ion-note color="danger" *ngIf="!transactionLoaded.validated">
              {{ 'PAGES.HISTORY.NOT-VALIDATED' | translate }}
            </ion-note>
            <ion-note color="success" *ngIf="transactionLoaded.validated">
               {{ 'PAGES.HISTORY.VALIDATED' | translate }}
            </ion-note>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked" color="primary">
            {{ 'PAGES.HISTORY.FROM' | translate }}:
          </ion-label>
            <ion-text color="medium">
              {{transactionLoaded.accountID}}
            </ion-text>
            <ion-button slot="end" color="primary" (click)="copyFromAccountID(transactionLoaded.accountID)">
              <ion-icon slot="icon-only" [name]="copyFromIcon"></ion-icon>
            </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-item>
          <ion-label position="stacked" color="primary">
            {{ 'PAGES.HISTORY.TO' | translate }}
          </ion-label>
          <ion-text color="medium">
            {{transactionLoaded.destination}}
          </ion-text>
          <ion-button slot="end" color="primary" (click)="copyToAccountID(transactionLoaded.destination)">
            <ion-icon slot="icon-only" [name]="copyToIcon"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked" color="primary">
            {{ 'PAGES.HISTORY.FEE' | translate }}
          </ion-label>
          <ion-text color="medium">
              {{transactionLoaded.fee | cscAmount : false : true }} CSC
          </ion-text>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked" color="primary">
            {{ 'PAGES.WALLET.AMOUNT' | translate }}
          </ion-label>
          <ion-text color="medium">
            {{transactionLoaded.amount | cscAmount : false : true }} {{ transactionLoaded.currency}}
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-wrap">
        <ion-item class="ion-text-wrap">
          <ion-label position="stacked" color="primary">
            {{ 'PAGES.HISTORY.TRANSACTIONID' | translate }}
          </ion-label>
          <ion-label  color="medium" class="ion-text-wrap">
            {{ transactionLoaded.txID }}
            <!--small>

            </small-->

          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked" color="primary">
            {{ 'PAGES.HISTORY.DOT' | translate }}
          </ion-label>
          <ion-text color="medium">
            {{ transactionLoaded.timestamp | cscDate : ' EEEE, MMMM  d of y,  HH:mm:ss'}}
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button >
      <!--i class="icon ion-ios-icon-transactions"></i-->
      <i  class="white-text icon-big icon-chip" ></i>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" [href]="this.getExploreURL()" *ngIf="transactionLoaded.validated">
        <ion-icon name="search"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" (click)="copyAccountID(transactionLoaded.txID)">
        <ion-icon name="copy"></ion-icon>
      </ion-fab-button>


    </ion-fab-list>
  </ion-fab>
</ion-content>
