<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start" routerLink="/" routerDirection="back">
      <ion-avatar  class="logo">
        <img src="assets/svg/logo_icon.svg">
      </ion-avatar>
    </ion-buttons>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>

    <ion-title> {{ 'PAGES.CONTACTS.ADD-CONTACTS-TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">
      {{ 'PAGES.CONTACTS.ADD-CONTACTS-NAME-LABEL' | translate }}
      </ion-label>
      <ion-input type="text" required name="contactname" [(ngModel)]="contact.label">

      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{ 'PAGES.CONTACTS.ADD-CONTACTS-ACCOUNT-LABEL' | translate }}

      </ion-label>
      <ion-input type="text" required name="accountid" [(ngModel)]="contact.accountID" minlength="25"
        maxlength="35">

      </ion-input>
      <ion-button class="csc-button"  color="primary" slot="end" (click)="scanQRCode()">
        {{ 'PAGES.CONTACTS.ADD-CONTACTS-SCAN-BTN' | translate }}
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{ 'PAGES.CONTACTS.ADD-CONTACTS-DESTINATION-TAG-LABEL' | translate }}
      </ion-label>
      <ion-input type="number" name="destination-tag" [(ngModel)]="contact.destinationTag">

      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{ 'PAGES.CONTACTS.ADD-CONTACTS-NOTES-LABEL' | translate }}

      </ion-label>
      <ion-input type="text" name="notes" [(ngModel)]="contact.notes">

      </ion-input>
    </ion-item>

  </ion-list>
 <ion-grid>
   <ion-row *ngIf="!editMode">
     <ion-col size="8" offset="2">
       <ion-button class="csc-button" expand="block" color="primary" type="submit" (click)="addContact() " >
         {{ 'PAGES.CONTACTS.ADD-CONTACTS-ADD-BTN' | translate }}

       </ion-button>
     </ion-col>
   </ion-row>
   <ion-row *ngIf="editMode">
     <ion-col size="8" offset="2">
       <ion-button class="csc-button" expand="block" color="primary" type="submit" (click)="addContact() " >
         {{ 'PAGES.CONTACTS.ADD-CONTACTS-UPD-BTN' | translate }}

       </ion-button>

     </ion-col>
   </ion-row>
   <ion-row>
     <ion-col size="8" offset="2">
       <ion-button class="csc-button" expand="block" color="primary" fill="outline" (click)="onCancel() ">
         {{ 'PAGES.CONTACTS.ADD-CONTACTS-CANCEL-BTN' | translate }}
       </ion-button>
     </ion-col>
   </ion-row>
 </ion-grid>



</ion-content>
