<ion-header>
  <ion-toolbar color="primary">

      <ion-buttons slot="start">
        <!-- ion-icon color="success" slot="icon-only" size="large" src="/assets/svg/casino-coin.svg"></ion-icon-->
        <i class="icon-logo icon-chip"></i>
        <!-- img class="logo-icon" src="assets/icon/csc_icon_red.png" /-->
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>

    <ion-title> {{ 'PAGES.CONTACTS.ADD-CONTACTS-TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">
      {{ 'PAGES.CONTACTS.ADD-CONTACTS-NAME-LABEL' | translate }}
      </ion-label>
      <ion-input type="text" name="contactname" [(ngModel)]="contactName">

      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{ 'PAGES.CONTACTS.ADD-CONTACTS-ACCOUNT-LABEL' | translate }}

      </ion-label>
      <ion-input type="text" name="accountid" [(ngModel)]="accountID">

      </ion-input>
      <ion-button slot="end">
        {{ 'PAGES.CONTACTS.ADD-CONTACTS-SCAN-BTN' | translate }}
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{ 'PAGES.CONTACTS.ADD-CONTACTS-DESTINATION-TAG-LABEL' | translate }}
      </ion-label>
      <ion-input type="number" name="destination-tag">

      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{ 'PAGES.CONTACTS.ADD-CONTACTS-NOTES-LABEL' | translate }}

      </ion-label>
      <ion-input type="text">

      </ion-input>
    </ion-item>

  </ion-list>
  <ion-button type="submit" expand="block" (click)="addContact() " >
    {{ 'PAGES.CONTACTS.ADD-CONTACTS-ADD-BTN' | translate }}

  </ion-button>

  <ion-button  expand="block">
    {{ 'PAGES.CONTACTS.ADD-CONTACTS-CANCEL-BTN' | translate }}


  </ion-button>


</ion-content>
