<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start" routerLink="/" routerDirection="back">
      <ion-avatar  class="logo">
        <img src="assets/svg/logo_icon.svg">
      </ion-avatar>
    </ion-buttons>
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="/tabs/wallet"></ion-back-button>
      </ion-buttons>

    <ion-title>  {{ 'PAGES.WALLET.SENDTOKEN' | translate:{ token: tokenAccountLoaded.Token} }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #sendtoken="ngForm" (ngSubmit)="onSendFormSubmit(sendtoken.form)" novalidate>
    <ion-item [hidden]='hideContactSelect'>
      <ion-label>Select a Contact</ion-label>
      <ion-select name="contact" placeholder="Contact" #contactSelect     (ionChange)='setToContact()' [(ngModel)]="selectedContact">
        <ion-select-option *ngFor="let contactEntry of contactList" [value]="contactEntry.$loki">{{contactEntry.label}} </ion-select-option>

      </ion-select>
    </ion-item>
    <ion-list *ngIf="tokenAccountLoaded">
      <ion-item>
        <ion-label position="stacked" >
           {{ 'PAGES.WALLET.FROMACCOUNT' | translate }}
        </ion-label>
        <!--ion-note>
          {{tokenAccountLoaded.AccountID}}
        </ion-note-->
        <ion-input   type="text" [(ngModel)]="tokenAccountLoaded.AccountID" readonly required name="from"></ion-input>
      </ion-item>
      <ion-item *ngIf="destinationAccount">
        <ion-label position="stacked">
           {{ 'PAGES.WALLET.TOACCOUNT' | translate }}
        </ion-label>
        <ion-input ngModel #toctl="ngModel" [(ngModel)]="destinationAccount" type="text" required readonly name="to">

        </ion-input>
        <!--ion-note >
          {{destinationAccount}}
        </ion-note-->
      </ion-item>
      <ion-item *ngIf="!destinationAccount">
        <ion-label position="floating" color="primary">
           {{ 'PAGES.WALLET.TOACCOUNT' | translate }}
        </ion-label>
        <ion-input ngModel #toctl="ngModel"  type="text" required name="to" [(ngModel)]="toAccount">

        </ion-input>
        <ion-button slot="end" (click)="scanQRCode()">
           {{ 'PAGES.CONTACTS.ADD-CONTACTS-SCAN-BTN' | translate }}
        </ion-button>
        <ion-button slot="end" (click)="contactSelected()">
          <ion-icon name="person" slot="icon-only"></ion-icon>
        </ion-button>


      </ion-item>
      <ion-item lines="none" color="light">
        <ion-grid class="ion-no-padding ion-padding-bottom" >
          <ion-row >
            <ion-col size="5" class="ion-no-padding">
              <ion-item class="ion-no-padding" lines="none" color="light">
                <ion-label position="stacked">
                   {{ 'PAGES.WALLET.ACCOUNT-BALANCE' | translate }}
                </ion-label>
                <ion-note *ngIf="tokenAccountLoaded.Token === 'CSC'">
                  {{tokenAccountLoaded.Balance | cscAmount : false : true }} {{tokenAccountLoaded.Token}}
                </ion-note>
                <ion-note *ngIf="tokenAccountLoaded.Token !== 'CSC'">
                  {{tokenAccountLoaded.TokenBalance | cscAmount : false : true }} {{tokenAccountLoaded.Token}}
                </ion-note>
              </ion-item>

            </ion-col>
            <ion-col size="4" class="ion-no-padding">
              <ion-item class="ion-no-padding" lines="none" color="light">
                <ion-label position="stacked">
                   {{ 'PAGES.WALLET.RESERVED' | translate }}
                </ion-label>
                <ion-note>
                  {{ getTotalReserved(tokenAccountLoaded) | number : '1.2-2' }} CSC
                </ion-note>
              </ion-item>
            </ion-col>
            <ion-col size="3" class="ion-no-padding">
              <ion-item class="ion-no-padding" lines="none" color="light">
                <ion-label position="stacked">
                   {{ 'PAGES.WALLET.FEES' | translate }}
                </ion-label>
                <ion-note>
                  {{fees  }} CSC
                </ion-note>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">
           {{ 'PAGES.WALLET.AMOUNT' | translate }}
        </ion-label>
        <ion-input [(ngModel)]="balanceToSend" name="amount" type="number">

        </ion-input>
        <ion-button slot="end" (click)="allBalanceToAmount()">
           {{ 'PAGES.WALLET.SEND-ALL' | translate }}
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">
           {{ 'PAGES.WALLET.DESTTAG' | translate }}
        </ion-label>
        <ion-input ngModel #dtagctl="ngModel" [(ngModel)]="destinationTag" name="destinationtag" type="number" >

        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">
           {{ 'PAGES.WALLET.DESCRIPTION' | translate }}
        </ion-label>
        <ion-input ngModel #descctl="ngModel" [(ngModel)]="destinationLabel" name="description" type="text">

        </ion-input>
      </ion-item>
    </ion-list>
    <ion-button  type="submit"  expand="block">
       {{ 'PAGES.WALLET.SENDTOKEN' | translate:{ token: tokenAccountLoaded.Token} }}

    </ion-button>
    <ion-button (click)="onCancel()" expand="block" >
       {{ 'PAGES.WALLET.CANCEL' | translate }}

    </ion-button>

  </form>
</ion-content>
