<ion-content fullscreen>
  <ion-slides  fullscreen pager="true"  class="ion-align-items-center">
    <ion-slide >
      <tutorial-module1>

      </tutorial-module1>
    </ion-slide>
    <ion-slide>
      <tutorial-module2>

      </tutorial-module2>
    </ion-slide>
    <ion-slide>
      <tutorial-module3>
      </tutorial-module3>
    </ion-slide>
    <ion-slide>
      <tutorial-module4>
      </tutorial-module4>
    </ion-slide>
    <ion-slide>
      <tutorial-module5>
      </tutorial-module5>
    </ion-slide>

    <ion-slide>
G
    </ion-slide>

    <ion-slide>
H
    </ion-slide>
  </ion-slides>
</ion-content>
