<ion-header>
  <ion-toolbar>
    <ion-title>token-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="tokenAccountLoaded">
    <ion-row>
      <ion-col>
        <ion-img [src]= "tokenAccountLoaded.IconURL"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="primary">
            {{tokenAccountLoaded.AccountID}}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="primary">
            {{tokenAccountLoaded.Token}}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="primary">
            {{tokenAccountLoaded.Balance}}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="primary">
            {{ tokenAccountLoaded.FullName }}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
