<ion-header>
  <ion-toolbar color="primary">

      <ion-buttons slot="start">
        <!-- ion-icon color="success" slot="icon-only" size="large" src="/assets/svg/casino-coin.svg"></ion-icon-->
        <i class="icon-logo icon-chip"></i>
        <!-- img class="logo-icon" src="assets/icon/csc_icon_red.png" /-->
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="/tabs/wallet"></ion-back-button>
      </ion-buttons>

    <ion-title *ngIf="tokenAccountLoaded"> {{tokenAccountLoaded.AccountLabel}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="tokenAccountLoaded">
    <ion-row>
      <ion-col size="3" offset="1">
        <ion-avatar>

          <ion-img [src]= "tokenAccountLoaded.IconURL"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="5">
        <ion-item>
          <ion-label position="stacked" color="primary">
            {{ 'PAGES.WALLET.ACCOUNT-LABEL' | translate }}
          </ion-label>
            <ion-note>
              {{tokenAccountLoaded.AccountLabel}}
            </ion-note>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-item>
          <ion-label position="stacked" color="primary">
            {{ 'PAGES.WALLET.STATUS' | translate }}
          </ion-label>
            <ion-note color="danger" *ngIf="!tokenAccountLoaded.Activated">
               {{ 'PAGES.WALLET.INACTIVE' | translate }}
            </ion-note>
            <ion-note color="success" *ngIf="tokenAccountLoaded.Activated">
               {{ 'PAGES.WALLET.ACTIVE' | translate }}
            </ion-note>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked" color="primary">
             {{ 'PAGES.WALLET.ACCOUNTID' | translate }}
          </ion-label>
            <ion-note>
              {{tokenAccountLoaded.AccountID}}
            </ion-note>
            <ion-button slot="end" color="primary" (click)="copyFromAccountID(tokenAccountLoaded.AccountID)">
              <ion-icon slot="icon-only" [name]="copyFromIcon"></ion-icon>
            </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-item>
          <ion-label position="stacked" color="primary">
            {{ 'PAGES.WALLET.TOKEN' | translate }}
          </ion-label>
          <ion-note>
            {{tokenAccountLoaded.FullName}}
          </ion-note>
        </ion-item>
      </ion-col>
      <ion-col size="8">
        <ion-item>
          <ion-label position="stacked" color="primary">
             {{ 'PAGES.WALLET.BALANCE' | translate }}
          </ion-label>
          <ion-text color="medium" *ngIf="tokenAccountLoaded.Token === 'CSC'">
            {{tokenAccountLoaded.Balance | cscAmount : false : true }} {{ tokenAccountLoaded.Token}}
          </ion-text>
          <ion-text color="medium" *ngIf="tokenAccountLoaded.Token !== 'CSC'">
            {{tokenAccountLoaded.TokenBalance | cscAmount : false : true }} {{ tokenAccountLoaded.Token}}
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked" color="primary">
             {{ 'PAGES.WALLET.FEES' | translate }}
          </ion-label>
          <ion-text color="medium">
            {{ fees }} CSC
          </ion-text>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked" color="primary">
             {{ 'PAGES.WALLET.AMOUNTRESERVED' | translate }}
          </ion-label>
          <ion-text color="medium">
            {{ getTotalReserved(tokenAccountLoaded) | number : '1.2-2' }} CSC
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="primary">
            {{ tokenAccountLoaded.FullName }}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--ion-footer>
    <ion-toolbar class="ion-text-center">
      <ion-button [routerLink]="'/tabs/wallet/token-send/'+tokenAccountLoaded.PK"> {{ 'PAGES.WALLET.SEND' | translate }}</ion-button>
      <ion-button [routerLink]="'/tabs/wallet/token-receive/'+tokenAccountLoaded.PK"> {{ 'PAGES.WALLET.RECEIVE' | translate }}</ion-button>
      <ion-button [routerLink]="'/tabs/wallet/add-token/'+tokenAccountLoaded.AccountID" *ngIf="tokenAccountLoaded.Token === 'CSC' && tokenAccountLoaded.Activated" > {{ 'PAGES.WALLET.SHOW-ADD-TOKEN' | translate }}</ion-button>
      <ion-button (click)="copyAccountID()"> {{ 'PAGES.WALLET.ACCOUNT-COPY-CBOARD' | translate }}</ion-button>
      <ion-button [href]="getExploreURL()" *ngIf="tokenAccountLoaded.Activated" > {{ 'PAGES.WALLET.EXPLORE' | translate }}</ion-button>
    </ion-toolbar>
  </ion-footer-->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button >
      <!--i class="icon ion-ios-icon-transactions"></i-->
      <i  class="white-text icon-big icon-chip" ></i>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" [routerLink]="'/tabs/wallet/add-token/'+tokenAccountLoaded.AccountID" *ngIf="tokenAccountLoaded.Token === 'CSC' && tokenAccountLoaded.Activated">
        <i  class="primary-text icon ion-md-icon-plus"></i>
      </ion-fab-button>
      <ion-fab-button color="primary" [routerLink]="'/tabs/wallet/token-send/'+tokenAccountLoaded.PK" >
        <i  class="primary-text icon icon-send"></i>
      </ion-fab-button>
      <ion-fab-button color="primary" [routerLink]="'/tabs/wallet/token-receive/'+tokenAccountLoaded.PK" >
        <i class="icon icon-receive" ></i>
      </ion-fab-button>
      <ion-fab-button color="primary" [href]="getExploreURL()" *ngIf="tokenAccountLoaded.Activated">
        <ion-icon name="search"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" (click)="copyAccountID(tokenAccountLoaded.AccountID)">
        <ion-icon name="copy"></ion-icon>
      </ion-fab-button>


    </ion-fab-list>
  </ion-fab>

</ion-content>
