ion-content{
  display:flex;
  height:calc(100vh - 112px);
}
.balances{
  flex:1 1 auto;
  // max-height: calc(60vh - 56px);
  overflow: auto;
}
ion-footer {
    flex: 0 0 auto;
    min-height:min-content;
    max-height: calc(40vh - 56px);


}
.balances ion-card-content{
  padding-left: 0;
}
.balances ion-card-header{
  padding: 0;
}
.balances ion-card-title{
  font-size: 3vh;
}
.balances ion-card-subtitle{
  font-size: 2vh;
}
