<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start" routerLink="/" routerDirection="back">
      <ion-avatar  class="logo">
        <img  src="assets/svg/logo_icon.svg">
      </ion-avatar>
    </ion-buttons>

    <ion-title>{{ 'PAGES.DASHBOARD.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-grid class="ion-padding" *ngIf="recoveryInProgress">
      <ion-row>
        <ion-col size="2">
          <ion-text color="primary">
            <ion-icon class="spinning" name="refresh"></ion-icon>
          </ion-text>
        </ion-col>
        <ion-col size="10">
          <ion-text color="primary">{{ 'PAGES.DASHBOARD.RECOVER-PROGRESS' | translate }}</ion-text>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-header>

<ion-content>

    <!--ion-list-header>
    {{ 'PAGES.DASHBOARD.BALANCES-TITLE' | translate }}:
    </ion-list-header-->
      <ion-grid class="balances">
        <ion-row  *ngFor="let balance of walletBalances" >
          <ion-col size="12" >
            <ion-card color="light" class="ion-no-padding ion-no-margin " [routerLink] = "'/tabs/wallet/filter/'+balance.token">
              <ion-row>
                <ion-col size="4">
                  <ion-card-content >
                    <ion-avatar >
                      <!--ion-img [src]="balance.img">
                      </ion-img-->
                      <ion-img [src]="balance.img" >
                      </ion-img>
                    </ion-avatar>
                  </ion-card-content >
                </ion-col>
                <ion-col size="8">
                  <ion-row>
                    <ion-col>
                      <ion-card-header >
                        <ion-card-subtitle >
                          <ion-text color="primary">
                            {{balance.token}} {{ 'PAGES.DASHBOARD.TOKEN-BALANCE' | translate }}:
                          </ion-text>
                        </ion-card-subtitle>
                        <ion-card-title>
                          {{renderCSCAmount(balance.balance) | number :'1.2-2': translate?.currentLang }}  {{"("+balance.token+")"}}
                        </ion-card-title>
                      </ion-card-header>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-badge color="medium" *ngIf="balance.token === 'CSC'" >{{ 'PAGES.DASHBOARD.FIAT-VALUE' | translate }} </ion-badge>
                      <ion-badge *ngIf="balance.token === 'CSC'">
                        {{fiat_balance}}
                      </ion-badge>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>


            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>


  </ion-content>
  <!--/ion-item-->



  <ion-footer slot="fixed" vertical="end" class="ion-align-self-baseline">
    <ion-toolbar>
          <ion-grid class="ion-padding">
            <ion-row>
              <ion-col size="1">
                <ion-text color="primary">
                  <i class="icon-arrows"></i>
                </ion-text>
              </ion-col>
              <ion-col size="5">


                    <small>
                      <ion-label>{{'PAGES.DASHBOARD.EST-COIN-VALUE' | translate}}:
                        </ion-label>
                      <p>
                        <ion-text> {{fiatValue}}
                        </ion-text>
                      </p>
                    </small>



              </ion-col>
              <ion-col size="1">
                <ion-text color="primary">

                  <i class="ion-md-icon-csc"></i>
                </ion-text>
              </ion-col>
              <ion-col size="5">

                  <small>
                    <ion-label>{{'PAGES.DASHBOARD.TOTAL-COIN-SUPPLY' | translate}}:
                    </ion-label>
                    <p>
                      <ion-text> {{coinSupply | currency :'CSC': 'symbol': '1.2-2': translate?.currentLang}}
                      </ion-text>
                    </p>
                  </small>

              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="1">
                <ion-text color="primary">
                  <i class="icon-banknote " ></i>

                </ion-text>
              </ion-col>
              <ion-col size="5">

                  <small>
                    <ion-label>{{'PAGES.DASHBOARD.ESTIMATED-CAP' | translate}}:
                    </ion-label>
                    <p>
                      <ion-text> {{marketCapital }}
                      </ion-text>
                    </p>
                  </small>

              </ion-col>
              <ion-col size="1">

                <ion-icon color="primary" name="trending-up">
                </ion-icon>
              </ion-col>
              <ion-col size="5">

                  <small>
                    <ion-label>{{'PAGES.DASHBOARD.24H-VOLUME' | translate}}:
                    </ion-label>
                    <p>
                      <ion-text> {{marketVolumeUSD }}
                      </ion-text>
                    </p>
                  </small>

              </ion-col>
            </ion-row>
          </ion-grid>

    </ion-toolbar>
  </ion-footer>
