
.balances{
  max-height: calc(60vh - 56px);
  overflow: scroll;
}
ion-footer {
    position: fixed;
    max-height: calc(40vh - 56px);
    bottom: 0px;

}
.balances ion-card-content{
  padding-left: 0;
}
.balances ion-card-header{
  padding: 0;
}
.balances ion-card-title{
  font-size: 3vh;
}
.balances ion-card-subtitle{
  font-size: 2vh;
}
